

<footer class="footer">
        <div class="navbar-border-top"></div>
        <div class="container footer-content">
         
            <div class="footer-logo">
                <a href="#">
                    <img src="/logopucara.png" alt="Pucará Gaming Logo">
                </a>
                
                
                <div class="social-icons-container footer-social-icons">
                    <a href="#" aria-label="Facebook" class="social-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" aria-label="X (Twitter)" class="social-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" aria-label="Instagram" class="social-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" aria-label="YouTube" class="social-icon">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#" aria-label="Twitch" class="social-icon">
                        <i class="fa-brands fa-twitch"></i>
                    </a>
                    <a href="#" aria-label="TikTok" class="social-icon">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
            
            <div class="footer-links">
                <h3 class="footer-title">LINKS</h3>
                <div class="footer-nav">
                    <a href="#" class="footer-link">TIENDA</a>
                    <a href="#" class="footer-link">SOBRE NOSOTROS</a>
                    <a href="#" class="footer-link">NOTICIAS</a>
                    <a href="#" class="footer-link">EQUIPOS</a>
                    <a href="#" class="footer-link">CONTACTO</a>
                </div>
            </div>
        </div>
        <div class="navbar-border-bottom"></div>
    </footer>