

<nav class="navbar">
  <div class="navbar-border-top"></div>
  <div class="navbar-content">

    <!-- Social Icons -->
    <div class="social-icons-container">
            <a href="#" aria-label="Facebook" class="social-icon">
        <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" aria-label="X (Twitter)" class="social-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" aria-label="Instagram" class="social-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" aria-label="YouTube" class="social-icon">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#" aria-label="Twitch" class="social-icon">
                        <i class="fa-brands fa-twitch"></i>
                    </a>
                    <a href="#" aria-label="TikTok" class="social-icon">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
    </div>

    <!-- Logo -->
    <a class="navbar-logo">
      <img src="/logopucara.png" alt="Pucará Gaming Logo">
    </a>

    <!-- Menú -->
    <div class="navbar-links">
      <a href="#" class="nav-link">INICIO</a>
      <a href="#" class="nav-link">SOBRE NOSOTROS</a>
      <a href="#" class="nav-link">EQUIPOS</a>
      <a href="#" class="nav-link">NOTICIAS</a>
      <a href="#" class="nav-link">TIENDA</a>
      <a href="#" class="nav-link">CONTACTO</a>
    </div>

  </div>
  <div class="navbar-border-bottom"></div>
</nav>