---

import Layout from "../layouts/Layout.astro";
---
<meta charset="UTF-8">
    <div class="container">
        <section>
            <h1 class="title">Sobre Nosotros</h1>

        </section>
        <section>
            <p>
                ¿Quienes somos?
            </p>
            <p>
            Mision: Acompañar a profesionales del gaming para desarrollarse, trabajar en equipo y lograr sus metas profesionales.
            </p>
            <p>
                Visión: Convertir Pucará Gaming en una organización de Esports líder en Argentina, participando en los torneos de más alto nivel.
            </p>
            <p>
                Valores: Profesionalismo, trabajo en equipo, colaboración, respeto y pasión por el gaming.

        </section>
        <section>
            <p>
                ¿Qué hacemos?
            </p>
            <p>
                Nos especializamos en la organización de eventos, torneos y competiciones de videojuegos, así como en la creación de contenido relevante y entretenido para nuestra audiencia. Además, ofrecemos servicios de asesoramiento y consultoría en el ámbito del gaming y la tecnología.
            </p>

        </section>
        <section>
            <p>Conoce a nuestros dueños</p>
            <p>
                Juan Morteyru, Pablo Sanmartino, Lucas Morales
            </p>

        </section>



    </div>



<style>

    .title {
        text-align: center;
        font-size: 2rem
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        
    }
