---
import Layout from "../layouts/Layout.astro";
---
<head>
    <meta charset="UTF-8">

</head>

    <h1>PRÓXIMAMENTE...</h1>

    <style>
        h1 {
            text-align: center;
            font-size: 4rem;
            color: #cf5a00;
            margin-top: 50px;
        }
        body {
            font-family: 'Ubuntu', sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
        }

    </style>